.item-count {
    width: 200px;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .item-count .controls-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .controls-count button {
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 66, 66);
  }
  .item-count .add {
    width: auto;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 66, 66);
  }